/* 2-4-27, 2620170553, Miki Takahashi */
@charset "utf-8";
@@font-face {
  font-family: "rounded-mplus-1p-light";
  url('../fonts/rounded-mplus-1p-light.ttf') format('truetype')
}
html, body {
  height: 100%;
  margin: 0px;
  background-color: black;
  font-family: "rounded-mplus-1p-light";
}
canvas {
  width: 100%;
  height: 100% - 100px;
}
